@import 'src/main';

.hero-unit {
  @include elr-hero-unit();
}

.hero-unit-no-shadow {
  @include elr-hero-unit(
    $config: (
      border-radius: 0,
      button-shadow: none,
      text-shadow: none,
      button-color: transparent,
      border-color: #1976d2,
      border-width: 3px
    )
  );
}
